# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
# Generate a secret using: `openssl rand -base64 32`
NEXTAUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# LinkedIn OAuth
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""
